{% extends 'base.html' %}

{% block stylesheets %}
<link href="static/about.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div id="about">
  <h1>Atom of Truth</h1>
  <b>World's Finest News Source</b>
  <p>
    The Atom of Truth is a publication that seeks to live up to it's name, and contain no more than an atom of truth in each article. 
    We are based in Bannestein, because it is literally impossible for the Bannestein government to impose any restriction whatsoever on the press, mostly because Bannestein is a non-existent country.
  </p>
  <h2>Donations</h2>
  <p>Donate to support Atom of Truth and other cool projects I'm working on!</p>
  <ul>
    <li>Bitcoin Cash: bitcoincash:qz6q9hqe9r2emrz83m8tg8j2mgqup2hztgvsgzk40k</li>
    <li>Ethereum, xDai: 0x100e6F9164ADf9C924EDc31bc89Ab8bc1E5db2dd</li>
  </ul>
</div>
{% endblock %}